/*選單固定模板*/

.option{
    height: 80px;
    background-color:#d0f1f8 ;
    margin: 10% AUTO -150px auto;
    width: 500px;
    border-radius: 50px;
}

.option:hover{
    background-color:#004aad ;
}

.option_icon>img{
    white-space: nowrap;
    width: 50px;
    float: left;
    margin-left: 33%;
    margin-top: 4%;

}

.option_text{
    white-space: nowrap;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5.5%;
    margin-left: 3%;
}


@media (min-width:320px) and (max-width:720px){
    .option{
        width:300px;
        margin:10% auto auto auto;
    }
    .option_icon>img{
    margin-left: 23%;
    margin-top: 5%;
    }
    .option_text{
        margin-top: 10%;
        font-size: 16px;
    }
    .option_button{
        margin-top: 11%;
        font-size: 16px;
    }
    #icon{
        margin-left: -15%
    }
}