/*選單固定模板*/

.option{
    margin: 0 30% 0 30%;
    height: 80px;
    border:1px solid black;
    background-color:#91cae6 ;
    
}

.option_icon>img{
   
    width: 50px;

}

.option_text{
    color: red;
    
}