table{
    border-collapse: collapse;
    background-color: #d0f1f8;
    margin: 5% auto auto auto;
    width: 45%;
    border-radius:20px;
    font-size: 20px;
}
table:hover{
    background-color:#004aad;
}

.date{
    border-radius: 50px;
}

@media (min-width:320px) and (max-width:720px){
    table{
        width: 100%;
        font-size: 16px;
    }
   
}