table{
    border-collapse: collapse;
    background-color: #d0f1f8;
    margin: 5% auto auto auto;
    width: 45%;
    border-radius:20px;
    font-size: 20px;
}
table:hover{
    background-color:#004aad;
}

.date_sel{
    margin-left:27%;
    margin-top: 3%;

   
}
.option{
    width: 330px;
    height:50px;
    font-size: 20px;
}
.but{
    width: 60px;
    height: 50px;
}
.mid_text{
    word-wrap: break-word;
}
.date{
    border-radius: 50px;
}

@media (min-width:320px) and (max-width:720px){
    table{
        width: 100%;
        font-size: 14px;
    }
    .option{
        width: 46%;
        height:15px;
        font-size: 8px;
    }
    .date_sel{
        margin-left:0%;
        margin-top: 3%;
    }
    .but{
        height:20px ;
        display: none;
    }
   
}