.title{
    font-size: 32px;
    margin-left: 40.2%;
    margin-top: 3%;
}
/*兌獎內容*/
#chart_content{
    margin-top: 4.5%;
    margin-left: 41.2%;
    margin-right: 41.2%;
    font-size: 22px;
}
.chart_content{
    margin-top: 1%;
    margin-left: 32%;
    margin-right: 32%;
    font-size: 22px;
    background-color: rgb(0, 255, 187);
    border-radius: 30px;
}

/*節省點數*/
.part{
    border: 1px solid black;
    width: 45%;
    height: 280px;
    margin: 1% auto auto auto;
    background-color:#d0f1f8 ;
}

.part_text1-1{
    float: left;
    margin-left: 33%;
    margin-top: 5%;
    font-size: 20px;
}
.part_text1-2{
    float: left;
    margin-top: 5.3%;
    font-size: 20px;
}
.part_text1-3{
    float: left;
    margin-top: 5%;
    font-size: 20px;
}


/*條狀圖*/
.part_chart{
    position: relative;
    width: 90%;
    height: 20%;
    background-color: #ddd;
    margin-top: 15%;
    margin-left: 5%;
}
.fin_chart1{
    position:absolute;
    height: 100%;
    width: 0%;
    background-color: rgb(200, 0, 255);
    animation: moving 3s forwards cubic-bezier(0.5, 1.18, 0.89, 1.01);
}

.chart1_min{
    float: left;
    margin-left: 3%;
}
.chart1_mid1{
    float: left;
    margin-left: 21.3%;
}
.chart1_mid2{
    float: left;
    margin-left: 19.1%;
}
.chart1_mid3{
    float: left;
    margin-left: 19.1%;
}
.chart1_max{
    float: right;
    margin-right: 3%;
}



/*洗衣次數*/
.fin_chart2{
    position:absolute;
    height: 100%;
    width: 0%;
    background-color: rgb(255, 196, 0);
    animation: moving 3s forwards cubic-bezier(0.5, 1.18, 0.89, 1.01);
}

.chart2_min{
    float: left;
    margin-left: 3%;
}
.chart2_mid{
    float: left;
    margin-left: 43.3%;
}
.chart2_max{
    float: right;
    margin-right: 3%;
}

.part_text2-1{
    float: left;
    margin-left: 40%;
    margin-top: 5%;
    font-size: 20px;
}
.part_text2-2{
    float: left;
    margin-top: 5.3%;
    font-size: 20px;
}
.part_text2-3{
    float: left;
    margin-top: 5%;
    font-size: 20px;
}

/*優質動畫*/
@keyframes moving {
    0% {
        width: 0%;
    }

}