
.R-footer{
    height: 90px;
    width: 98%;
    background-color: #91cae6;
    display: flex;
    margin:0% 0 0 1%;
    border-radius: 3%;
    overflow: hidden;



}
/*底下左邊的洗衣*/
.R-foot-cpic{
    margin: 0.5% 12%;
    z-index: 1;
    height: 130px;
    width: 10%;
    
    background-color: #91cae6;
}
.R-cpic{
    background-color: #91cae6;
    height: 60%;
    width: 100%;
    
}
/*底下中間的會員*/
.R-foot-peopic{
    margin: 1% 12%;
    height: 130px;
    width: 10%;
    
    background-color: #91cae6;
    z-index: 1;
}
.R-peopic{
    background-color: #91cae6;
    height: 50%;
    width: 55%;
}
/*底下的地圖圖標(實體店面)*/
.R-foot-mappic{
    margin: 0.5% 12%;
    z-index: 1;
    height: 130px;
    width: 10%;
    
    background-color: #91cae6;
}
.R-mappic{
    height: 55%;
    width: 70%;
    background-color: #91cae6;
}

main{
    min-height: calc(100vh - 263px); 
    }

@media (min-width:320px) and (max-width:720px){
    .R-footer{
        position: fixed;
        top: 89%;
        left: 0.1%;
    }
    .R-foot-cpic>img{
        height: 70%;
        width: 180%;
    }
    .R-peopic{
        height: 50%;
        width: 150%;
    }

    .R-foot-peopic{
        margin: 3% 10%;
    }
    .R-mappic{
        margin-top: 1.5%;
        height: 58%;
        width: 130%;
    }

}