.R-footer {
    height: 75px;
    width: 98%;
    background-color: #91cae6;
    display: flex;
    margin: 0% 0 0 1%;
    margin-top: 5%;
    border-radius: 3%;
    overflow: hidden;
    justify-content: space-around;
}
.con{
    display: flex; 
    flex-direction: column; 
    min-height: 85vh; 
}


/*底下左邊的洗衣*/
.R-foot-cpic {
    margin: 0 0;
    z-index: 1;
    height: 100%;

    background-color: #91cae6;
}

.R-cpic {
    background-color: #91cae6;
    height: 100%;
    width: 100%;

}

/*底下中間的會員*/
.R-foot-peopic {
    margin: 0.5% 0 0 0;
    height: 100%;

    background-color: #91cae6;
    z-index: 1;
}

.R-peopic {
    background-color: #91cae6;
    height: 85%;
    width: 100%;
}

/*底下的地圖圖標(實體店面)*/
.R-foot-mappic {
    margin: 0.3% 0 0 0;
    z-index: 1;
    height: 100%;

    background-color: #91cae6;
}

.R-mappic {
    height: 90%;
    width: 100%;
    background-color: #91cae6;
}

main {
    flex: 1;
}


@media (min-width:320px) and (max-width:720px){
    .R-footer{
        bottom: 9.5%;
        left: -0.1%;
    }
    .R-foot-cpic>img{
        height: 90%;
        width: 185%;
    }
    .R-peopic{
        height: 65%;
        width: 120%;
    }

    .R-foot-peopic{
        margin: 3% 10%;
    }
    .R-mappic{
        margin-top: 8%;
        height: 80%;
        width: 130%;
    }

}