.t-allcheckoutbox {
    width: 82%;
    height: autp;
    background-color: #7e80808e;
    display: block;
    margin: 3% 0 5% 8%;
    padding: 1% 0 0 1%;
    border-radius: 10px;
}
body{
    background-color: rgb(196, 236, 236);
    width: 100%;
    height: auto;
}
.t-checkout {
    /*background-color: rgb(196, 236, 236);*/
    width: 100%;
    /*margin-left: 35px;*/
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (min-width:320px) and (max-width:720px) {
    .t-checkout{
        /*margin-left: 15%;*/
        width: 100%;
    }
    .t-checkoutbox{
        margin-top: 25px;
        width: 100%;
    }
    .t-checkoutbox>h3{
        width: 100%;
        /*margin-top: 4%;*/
    }
    .t-allcheckoutbox{
        margin-bottom: 20%;
    }
}
.t-checkout>h2 {
    font-size: 50px;
    margin: 10px 0 0 0px;
    text-align: center;

}
/*標題列*標題列*/
.t-checkoutbox {
    background-color: rgb(255, 255, 255);
    width: 85%;
    margin-top: 50px;
    margin-left: 7%;
    height: 70px;
    padding-top: 10px;
    border-radius: 20px;
    display: flex;
}
/*白白的那一條*/
.t-checkoutbox>h3 {
    font-size: 6vmin;
    margin: 0.5% 0 0 5%;
}
/*白白那一條裡面的內容*/


.t-btnbox {
    width: 100%;
    margin-top: 50px;
    /*margin-left: 35px;*/
    height: auto;
    padding-top: 0px;
    padding-bottom: 30px;
}

.t-btn {
    background-color: #63a5a5;
    color: white;
    cursor: pointer;
    border: none;
    width: 50%;
    height: 70px;
    margin-top: 2%;
    margin-left: 23%;
    margin-bottom: 5%;
    font-size: 7vmin;
    border-radius: 10px;
}
.t-btn1 {
    background-color: #63a5a5;
    color: white;
    cursor: pointer;
    border: none;
    width: 80%;
    height: 70px;
    margin-top: 2%;
   margin-left: 10%;
    margin-bottom: 5%;
    font-size: 7vmin;
    border-radius: 10px;
   
}
.t-btnbox1 {
    display: inline-block;
    width: 49%;
    margin-top: 50px;
    
    /*margin-left: 35px;*/
    height: auto;
    padding-top: 0px;
    padding-bottom: 30px;
}

.t-btn:hover {
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}