body {
    background-color: rgb(196, 236, 236);
}

.t-allbox {
    /*background-color: rgb(44, 46, 46);*/
    /*background-image: url(../img/R_washmachine.png);*/
    display: block;
    width: 100%;
    margin-top: 2%;
    margin-left: 35px;
    height: auto;
    padding-top: 5px;
    /*padding-bottom: 10px;*/
}

.t-outlinebar {
    /*background-color:var(--back);*/
    width: 80%;
    margin: 1% 0 0 7%;
    height: auto;
    padding: 2% 0 0 4%;
}

/*上面最大圈外圍的*/
.t-linebar {
    /*background-color: rgb(255, 255, 255);*/
    width: 80%;
    margin: 0% 0 0 7%;
    height: 150px;
    font-size: 25px;
}

/*主要的動線圖*/
.t-ooxx {
    /*background-color: #5b5e60;*/
    width: 100%;
    margin: 0% 0 0 -4%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 10%;
    text-align: center;
    display: flex;
}

.t-linebarinword1 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword2 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword3 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword4 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword5 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword6 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword7 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarword {
    /*background-color: rgb(181, 151, 151);*/
    width: 40%;
    margin: 4% 0 0 27%;
    padding-top: 1%;
    /*padding-bottom: 1%;*/
    height: 10%;
    text-align: center;
}

.t-linebarword>p {
    font-size: 6vmin;
    background-color: aliceblue;
}

/*預計取回時間*/
.t-midbox {
    display: flex;
    background-color: rgba(249, 233, 204, 0.92);
    width: 80%;
    margin: 2% 0 0 10%;
    padding: 0% 0 0 2%;
    height: 150px;

}

.t-inmidbox {
    font-size: 5vmin;
    line-height: 40pt;
    /*margin-top: -5%;*/
}

.t-inmidbox2 {
    font-size: 5vmin;
    line-height: 40pt;
    padding: 0% 0 0 60%;
}

/*送洗方式取回方式*/
.t-lastbox {
    background-color: rgba(249, 233, 204, 0.92);
    width: 80%;
    margin: 2% 0 10% 10%;
    height: 400px;
    padding: 1% 0 0 2%;
    display: flex;
}

.t-inlastbox {
    font-size: 5vmin;
    line-height: 40pt;
}

.t-inlastbox2 {
    font-size: 5vmin;
    line-height: 40pt;
    padding: 0% 0 0 50%;
}
.t-inlastbox2>p{
    margin-left: -45%;
}
/*-----------------------*/
/* 給一個 scope 設定變數 */

:root {
    /* 已完成進度的顏色 */
    --line-border-fill: #3498db;

    /* 未完成進度的顏色 */
    --line-border-empty: #e0e0e0;
}

/* 初始化一些基本排版 */
* {
    box-sizing: border-box;
}

/*body {
    background-color: #f6f7fb;
    font-family: "Muli", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}*/

.t-container {
    text-align: center;
    margin: 2% 0 0 -10%;
    width: 170%;

}

.t-progress-container {
    /* 讓這個元素成為 flexbox 的 container */
    display: flex;

    /* 使用 space-between 使內部元素取得相同間距 */
    justify-content: space-between;

    /* 想要使用 relative-absolute，所以這裡放 relative */
    position: relative;

    margin-bottom: 2%;
    max-width: 100%;
    width: 70%;

}

.t-progress-container::before {
    /* 使用偽元素一定要有 content，如果沒有內容可以放空字串 */
    content: "";

    /* 這裡使用了事先定義的未完成進度顏色 */
    background-color: var(--line-border-empty);

    /* 進度條容器的長寬 */
    height: 50%;
    width: 70%;
}

.t-progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    height: 35px;
    width: 100%;

    /* 以下是新增的 */
    /* 使用 relative-absolute */
    position: absolute;

    /* 調整 absolute 的位置到高度的 50%，距離左側 0 */
    top: 50%;
    left: 0;

    /* 因為這個元素自身的寬度，所以需要往上調自身寬度的 50% 回來才會回到正中間 */
    transform: translateY(-50%);

    /* 顯示到數字的後面 */
    z-index: -1;
}

.t-progress {
    /* 這裡使用了事先定義的已完成進度顏色 */
    background-color: var(--line-border-fill);

    /* height 一樣 4px，width在切版時可以先放成 50%，調整好再改回進度為 0% 的狀態 */
    /* 附圖為 50% 的狀態 */
    height: 33px;
    width: 0%;

    /* 一樣使用 relative-absolute把已完成進度條也放到正確位置上 */
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 15px;
    transform: translateY(-50%);
    z-index: -1;

    /* 這裡用 transition 做出一點動畫效果*/
    transition: 0.4s ease;
}

.circle {
    /* 底色白色，文字顏色和邊框灰色 */
    background-color: #fff;
    color: #999;
    border: 3px solid #999;

    /* 把元素畫成寬高為 30px 的圓形 */
    border-radius: 50%;
    height: 60px;
    width: 60px;

    /* 用 flexbox 排版把文字放到正中間 */
    display: flex;
    align-items: center;
    justify-content: center;

    /* 一樣加上動畫效果 */
    transition: 0.4s ease;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.t-btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin-top: 3%;
    margin-left: 1%;
    font-size: 14px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}

@media (min-width:320px) and (max-width:720px) {
    .t-container {
        text-align: center;
        margin: 2% 0 0 -10%;
        width: 170%;
    }

    .t-progress-container::before {
        content: "";
        background-color: var(--line-border-empty);
        height: 25px;
        width: 100%;

        /* 以下是新增的 */
        /* 使用 relative-absolute */
        position: absolute;

        /* 調整 absolute 的位置到高度的 50%，距離左側 0 */
        top: 50%;
        left: 0;

        /* 因為這個元素自身的寬度，所以需要往上調自身寬度的 50% 回來才會回到正中間 */
        transform: translateY(-50%);

        /* 顯示到數字的後面 */
        z-index: -1;
    }

    .t-progress-container {
        display: flex;

        /* 使用 space-between 使內部元素取得相同間距 */
        justify-content: space-between;

        position: relative;
        margin-left: -20%;
        margin-bottom: 2%;
        max-width: 100%;
        width: 100%;
    }

    .t-progress {
        /* 這裡使用了事先定義的已完成進度顏色 */
        background-color: var(--line-border-fill);

        /* height 一樣 4px，width在切版時可以先放成 50%，調整好再改回進度為 0% 的狀態 */
        /* 附圖為 50% 的狀態 */
        height: 25px;
        width: 0%;

        /* 一樣使用 relative-absolute把已完成進度條也放到正確位置上 */
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 15px;
        transform: translateY(-50%);
        z-index: -1;

        /* 這裡用 transition 做出一點動畫效果*/
        transition: 0.4s ease;
    }

    .circle {
        /* 底色白色，文字顏色和邊框灰色 */
        background-color: #fff;
        color: #999;
        border: 3px solid #999;

        /* 把元素畫成寬高為 30px 的圓形 */
        border-radius: 50%;
        height: 35px;
        width: 35px;

        /* 用 flexbox 排版把文字放到正中間 */
        display: flex;
        align-items: center;
        justify-content: center;

        /* 一樣加上動畫效果 */
        transition: 0.4s ease;
    }

    .t-btn {
        margin-top: 10%;
        margin-left: 1%;
        font-size: 4vmin;
    }

    .t-ooxx {
        width: 100%;
        margin: 0% 0 0 -4%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .t-linebarinword1 {
        width: 15%;
        margin: -3% 0 0 -23%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }

    .t-linebarinword2 {
        width: 15%;
        margin: -3% 2% 0 4%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }

    .t-linebarinword3 {
        width: 15%;
        margin: -3% 0 0 6%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }

    .t-linebarinword4 {
        width: 15%;
        margin: -3% 0 0 8%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }

    .t-linebarinword5 {
        width: 15%;
        margin: -3% 0 0 10%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }

    /*.t-linebarinword6 {
        width: 15%;
        margin: -3% 5% 0 %;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }
    .t-linebarinword7 {
        width: 15%;
        margin: -3% 0 0 25%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 4vmin;
    }*/
    .t-linebarword {
        /*background-color: rgb(181, 151, 151);*/
        width: 100%;
        margin: 4% 0 0 -9%;
    }

    .t-midbox {
        width: 100%;
        margin: 2% 0 0 1%;

    }

    .t-inmidbox {
        font-size: 5vmin;
        width: 50%;
    }
    .t-lastbox {
        width: 100%;
        margin: 2% 0 5% 1%;
        height: 450px;
    }
    
    .t-inlastbox {
        font-size: 4vmin;
        width: 50%;
        line-height: 40pt;
    }
    .t-inlastbox2>p{
        margin-left: -90%;
        font-size: 4vmin;
    }

}