body {
    background-color: rgb(196, 236, 236);
}

.t-allbox {
    /*background-color: rgb(44, 46, 46);*/
    /*background-image: url(../img/R_washmachine.png);*/
    display: block;
    width: 100%;
    margin-top: 2%;
    margin-left: 35px;
    height: auto;
    padding-top: 5px;
    /*padding-bottom: 10px;*/
}

.t-outlinebar {
    /*background-color:var(--back);*/
    width: 80%;
    margin: 1% 0 0 7%;
    height: auto;
    padding: 2% 0 0 4%;
}
/*上面最大圈外圍的*/
.t-linebar {
    /*background-color: rgb(255, 255, 255);*/
    width: 80%;
    margin: 0% 0 0 7%;
    height: 150px;
    font-size: 25px;
}

/*主要的動線圖*/
.t-ooxx {
    /*background-color: #5b5e60;*/
    width: 100%;
    margin: 0% 0 0 -4%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 10%;
    text-align: center;
    display: flex;
}

.t-linebarinword1 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword2 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword3 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword4 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword5 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword6 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarinword7 {
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin: 1% 0 0 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 2%;
    text-align: center;
    font-size: 3vmin;
}

.t-linebarword {
    /*background-color: rgb(181, 151, 151);*/
    width: 40%;
    margin: 4% 0 0 -27%;
    padding-top: 1%;
    /*padding-bottom: 1%;*/
    height: 10%;
    text-align: center;
}

.t-linebarword>p {
    font-size: 6vmin;
    background-color: aliceblue;
}

/*預計取回時間*/
.t-midbox {
    display: flex;
    background-color: rgba(249, 233, 204, 0.92);
    width: 80%;
    margin: 2% 0 0 10%;
    padding: 0% 0 0 2%;
    height: 150px;

}

.t-inmidbox {
    font-size: 5vmin;
    line-height: 40pt;
    /*margin-top: -5%;*/
}

.t-inmidbox2 {
    font-size: 5vmin;
    line-height: 40pt;
    padding: 0% 0 0 60%;
}

/*送洗方式取回方式*/
.t-lastbox {
    background-color: rgba(249, 233, 204, 0.92);
    width: 80%;
    margin: 2% 0 10% 10%;
    height: 400px;
    padding: 1% 0 0 2%;
    display: flex;
}

.t-inlastbox {
    font-size: 5vmin;
    line-height: 40pt;
}

.t-inlastbox2 {
    font-size: 5vmin;
    line-height: 40pt;
    padding: 0% 0 0 50%;
}

.t-inlastbox2>p {
    margin-left: -45%;
}

/*-----------------------*/

@media (min-width:320px) and (max-width:720px) {
    .t-outlinebar {
        /*background-color:var(--back);*/
        width: 77%;
        margin: 1% 0 0 5%;
        height: auto;
        padding: 2% 0 0 4%;
    }
    .t-ooxx {
        width: 100%;
        margin: -25% 0 0 -4%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .t-linebarinword1 {
        width: 10%;
        margin: -3% 0 0 -5%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 3vmin;
    }

    .t-linebarinword2 {
        width: 10%;
        margin: -3% 2% 0 4%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 3vmin;
    }

    .t-linebarinword3 {
        width: 10%;
        margin: -3% 0 0 4%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 3vmin;
    }

    .t-linebarinword4 {
        width: 10%;
        margin: -3% 0 0 4%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 2.5vmin;
    }

    .t-linebarinword5 {
        width: 10%;
        margin: -3% 0 0 4%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 3vmin;
    }
    .t-linebarinword6 {
        width: 10%;
        margin: -3% 0 0 5%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 3vmin;
    }
    
    .t-linebarinword7 {
        width: 10%;
        margin: -3% 0 0 6%;
        padding-bottom: 1%;
        height: 3%;
        font-size: 3vmin;
    }
    .t-linebarword {
        /*background-color: rgb(181, 151, 151);*/
        width: 80%;
        
    }
    .t-linebarword>p {
        margin: 2% 0 5% 20%;
    }
    .t-midbox {
        width: 80%;
        margin: 2% 0 0 0%;

    }

    .t-inmidbox {
        font-size: 5vmin;
        width: 50%;
    }

    .t-lastbox {
        width: 100%;
        margin: 2% 0 5% 1%;
        height: 450px;
    }

    .t-inlastbox {
        font-size: 4vmin;
        width: 50%;
        line-height: 40pt;
    }

    .t-inlastbox2>p {
        margin-left: -90%;
        font-size: 4vmin;
    }
    #progressBar span:nth-child(2) {
        width: 25px;
        height: 25px;
    }
    
    #progressBar span:nth-child(3) {
        width: 25px;
        height: 25px;
    }
    
    #progressBar span:nth-child(4) {
        width: 25px;
        height: 25px;
    }
    
    #progressBar span:nth-child(5) {
        width: 25px;
        height: 25px;
    }
    
    #progressBar span:nth-child(6) {
        width: 25px;
        height: 25px;
    }
    
    #progressBar span:nth-child(7) {
        width: 25px;
        height: 25px;
    }
    
    #progressBar span:nth-child(8) {
        width: 25px;
        height: 25px;
    }
    #progressBar div span {
        position: absolute;
        display: inline-block;
        background: green;
        height: 1px;
        width: 100%;
        margin: -1% 0 0 -2%;
        -webkit-animation: bgLoad 5.5s linear;
    }
    #progressBar div {
        position: absolute;
        margin-left: -50%;
        background: #ccc;
    }
    /*#progressBar span:nth-child(9) {
        left: 100%;
        width: 30px;
        height: 30px;
    }*/
}
#progressBar {
    width: 150%;
    height: 50px;
    position: relative;
    margin: 3% 0 0 -28%;
}

#progressBar div {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 0%;
    margin-top: -20px;
    margin-left: 0%;
    background: #ccc;
}

#progressBar div span {
    position: absolute;
    display: inline-block;
    background: green;
    height: 10px;
    width: 100%;
    -webkit-animation: bgLoad 20.5s linear;
}

@-webkit-keyframes bgLoad {
    0% {
        width: 0%;
    }

    10.18%,
    16.27% {
        width: 16%;
    }

    20.45%,
    35.54% {
        width: 32%;
    }

    40.72%,
    50.81% {
        width: 48%;
    }

    55.72%,
    70.81% {
        width: 64%;
    }

    75.72%,
    91.81% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}

#progressBar>span {
    position: absolute;
    top: 0;
    margin-top: -1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    margin-left: -20px;
    color: #fff;
}

@-webkit-keyframes circleLoad_1 {

    0%,
    50% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

@-webkit-keyframes circleLoad_2 {

    0%,
    55% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

@-webkit-keyframes circleLoad_3 {

    0%,
    60% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

@-webkit-keyframes circleLoad_4 {

    0%,
    70% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

@-webkit-keyframes circleLoad_5 {

    0%,
    80% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

@-webkit-keyframes circleLoad_6 {

    0%,
    90% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

@-webkit-keyframes circleLoad_6 {

    0%,
    90% {
        background: #ccc;
    }

    100% {
        background: green;
    }
}

#progressBar span:nth-child(2) {
    left: 0%;
    background: green;
}

#progressBar span:nth-child(3) {
    left: 16%;
    background: green;
    -webkit-animation: circleLoad_1 3.5s ease-in;
}

#progressBar span:nth-child(4) {
    left: 32%;
    background: green;
    -webkit-animation: circleLoad_2 6s ease-in;
}

#progressBar span:nth-child(5) {
    left: 48%;
    background: green;
    -webkit-animation: circleLoad_3 10.5s ease-in;
}

#progressBar span:nth-child(6) {
    left: 64%;
    background: green;
    -webkit-animation: circleLoad_4 13.5s ease-in;
}

#progressBar span:nth-child(7) {
    left: 80%;
    background: green;
    -webkit-animation: circleLoad_5 16.5s ease-in;
}

#progressBar span:nth-child(8) {
    left: 96%;
    background: green;
    -webkit-animation: circleLoad_6 20.5s ease-in;
}

#progressBar span:nth-child(8) {
    left: 100%;
    background: green;
    -webkit-animation: circleLoad_6 21.5s ease-in;
}

/*-------------------------------------------------------*/
.t-linebarword {
    /*background-color: rgb(181, 151, 151);*/
    width: 100%;
    margin: 4% 0 0 -9%;
}

.t-midbox {
    width: 100%;
    margin: 2% 0 0 1%;

}

.t-inmidbox {
    font-size: 5vmin;
    width: 50%;
}

.t-lastbox {
    width: 100%;
    margin: 2% 0 5% 1%;
    height: 450px;
}

.t-inlastbox {
    font-size: 4vmin;
    width: 50%;
    line-height: 40pt;
}

.t-inlastbox2>p {
    margin-left: -90%;
    font-size: 4vmin;
}