.t-maturitymon {
    font-size: 6vmin;
    background-color: azure;
    margin: 1% 0 0 8%;
}

.t-maturityyear {
    font-size: 6vmin;
    background-color: azure;
    margin: 1% 0 0 8%;
}
body{
    background-color: rgb(196, 236, 236);
    width: 100%;
    height: auto;
}
.t-inpayway {
    /*background-color: rgb(196, 236, 236);*/
    width: 100%;
    /*margin-left: 35px;*/
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.t-inpayway>h2 {
    font-size: 50px;
    margin: 10px 0 0 0px;
    text-align: center;

}

.t-inpaywaybox {
    background-color: rgb(255, 255, 255);
    width: 85%;
    margin-top: 50px;
    margin-left: 7%;
    height: 150px;
    padding-top: 10px;
    border-radius: 20px;
}

.t-inpaywaybox>h3 {
    font-size: 6vmin;
    margin: 5px 0 0 55px;
}

.t-inpaywaybox>p {
    font-size: 6vmin;
    margin: 20px 0 0 55px;
}

.t-inpaywaybox input[type="text"] {
    display: block;
    background-color: rgb(255, 243, 138);
    width: 80%;
    height: 60px;
    margin: 1% 0px 0px 7%;
    border-radius: 10px;
    font-size: 6vmin;
}

.t-btnbox {
    width: 100%;
    margin-top: 50px;
    /*margin-left: 35px;*/
    height: auto;
    padding-top: 0px;
    padding-bottom: 30px;
}

.t-btn {
    background-color: #63a5a5;
    color: white;
    cursor: pointer;
    border: none;
    width: 50%;
    height: 70px;
    margin-top: 2%;
    margin-left: 23%;
    margin-bottom: 5%;
    font-size: 35px;
    border-radius: 10px;
}

.t-btn:hover {
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    transition: 0.5s;
}
@media (min-width:320px) and (max-width:720px) {
    .t-inpayway{
        /*margin-left: 15%;*/
        width: 100%;
        height: 2000px;
        margin-bottom: 10%;
        /*padding-bottom: 50%;*/
    }
    .t-inpaywaybox{
        margin-top: 25px;
        width: 90%;
        margin-left: 3%;
    }
    .t-inpaywaybox>h3{
        width: 100%;
        /*margin-top: 4%;*/
    }
    .t-maturitymon{
        margin-top: 10%;
        margin-left: 15%;
    }
    .t-maturityyear{
        margin-top: 10%;
        margin-left: 15%;
    }
    .t-inpaywaybox input[type="text"] {
        margin-top: 7%;
        margin-left: 10%;
    }
}