/*藍色背景框框*/
.before_all{
    margin: 3% auto auto auto;
    background-color: #d0f1f8;
    text-align: center;
    width: 40%;
    font-size: 30px;
    font-weight: bold;
}
/*標題*/
.before_title{
    text-align: center;
    width: 100%;
    padding-top: 1.5%;
}

/*圖片*/

.before_pic{
    margin: auto;
    padding-top: 1%;
}
/*全部隱藏 Js 來開啟*/
.img_slide{
    width: 450px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}
.img_slides{
    display: none;
    width: 450px;
    height: 600px;
    overflow: hidden;
    margin: auto;
}

/*圖片比例符合框架*/
.before_pic>img{
    width: 100%;
    height: 100%;
   
}
/*按鈕*/
.btn{
    text-align: center;
    padding: 1% 0 0 0;
    width: 150px;
    margin: auto;
    height: 50px;
    
}
.btn>input{
    background-color: #63a5a5;
    color: white;
    border: none;
    border-radius: 10px;
    width:100%;
    height: 100%;
}

