.Y-btn {
    background-color: #63a5a5;
    color: white;
    float: left;
    border: none;
    width: 30%;
    height: 70px;
    margin-top: 2%;
    margin-left: 12.8%;
    margin-bottom: 5%;
    font-size: 5vmin;
    border-radius: 10px;
}
.user_data{
    font-size: 30px;
    margin: 1.5% 0 0 4%;
}
.Y-inmemberbox2>h3{
    font-size: 6vmin;
    margin:-2.5% 0 0 -2.5%;
}
.Y-inmemberbox2 {
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 70%;
    margin: 2% 0 0 7.5%;
    padding-top: 3%;
    padding-left: 5%;
    border-radius: 20px;
    padding-bottom: 0.5%;
}
#wash{
    margin-left: -2.8%;
    
}
#add{
    width: 16%;
    height: 40px;
    margin-left: -7%;
}
#t-btn{
    margin-bottom: 15%;
}
#del_but,#add_but{
    width: 8%;
    height: 30px;
    margin-left: 5%;
    margin-top: -1%; 
}
.btn1{
    background-color: #63a5a5;
    color: white;
    border:none
}

@media (min-width:320px) and (max-width:720px){
    .Y-inmemberbox2{
        margin-top: 5%;
        width: 85%;
        height: 30%;
        margin-left: 3%;
        padding-bottom: 2%;
    }
    .t-inmemberbox>h3 {
        font-size: 5vmin;
    }
    .Y-inmemberbox2>h3 {
        font-size: 5vmin;
        margin-left: 8.5%;
    }
    #wash{
        font-size: 5vmin;
        margin-left: 8.5%;
    }
    #del_but{
        width: 20%;
    }
    #add_but{
        width: 18%;
    }
    #add{
        margin-left: 6%;
        width: 33.5%;
        height: 22px;
    }
    .Y-btn{
       width: 38%;
       height: 50px;
       margin-left: 7%;   
       margin-top: 5%;
    }
    .t-inmemberbox>p{
        font-size: 5vmin;
    }
    .t-inmember>h2{
        font-size: 46px;
    }
}